/*
 * Variation Services
 * Services for variation data processing<p> <div style=\"font-size:1.1em;font-weight:normal\">NOTE: This service is still in beta testing mode. Please limit your request rate to 1 request/second.  dbSNP provides bulk download in VCF and JSON on the <a href=\"ftp://ftp.ncbi.nih.gov/snp/latest_release/\">FTP site</a> for users with a large number of RefSNPs (>100K) to process.</div> 
 *
 * OpenAPI spec version: 2.0.0
 * Contact: variation-services@ncbi.nlm.nih.gov
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package org.pharmgkb.io.ncbi.api;

import com.google.gson.reflect.TypeToken;
import org.pharmgkb.io.ncbi.*;
import org.pharmgkb.io.ncbi.model.RefsnpSnapshot;

import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RefSnpApi {
    private ApiClient apiClient;

    public RefSnpApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RefSnpApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for betaRefsnpRsidGet
     * @param rsid 64-bit RefSNP ID (integer) (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call betaRefsnpRsidGetCall(String rsid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/beta/refsnp/{rsid}"
            .replaceAll("\\{" + "rsid" + "\\}", apiClient.escapeString(rsid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call betaRefsnpRsidGetValidateBeforeCall(String rsid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'rsid' is set
        if (rsid == null) {
            throw new ApiException("Missing the required parameter 'rsid' when calling betaRefsnpRsidGet(Async)");
        }
        
        com.squareup.okhttp.Call call = betaRefsnpRsidGetCall(rsid, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Lookup RefSNP object by RSID
     * Retrieve data object associated with a RefSNP identifier for the current revision.  This is a beta-release of this service and the resulting schema is still under development.  User feedback is welcomed and appreciated.
     * @param rsid 64-bit RefSNP ID (integer) (required)
     * @return RefsnpSnapshot
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RefsnpSnapshot betaRefsnpRsidGet(String rsid) throws ApiException {
        ApiResponse<RefsnpSnapshot> resp = betaRefsnpRsidGetWithHttpInfo(rsid);
        return resp.getData();
    }

    /**
     * Lookup RefSNP object by RSID
     * Retrieve data object associated with a RefSNP identifier for the current revision.  This is a beta-release of this service and the resulting schema is still under development.  User feedback is welcomed and appreciated.
     * @param rsid 64-bit RefSNP ID (integer) (required)
     * @return ApiResponse&lt;RefsnpSnapshot&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RefsnpSnapshot> betaRefsnpRsidGetWithHttpInfo(String rsid) throws ApiException {
        com.squareup.okhttp.Call call = betaRefsnpRsidGetValidateBeforeCall(rsid, null, null);
        Type localVarReturnType = new TypeToken<RefsnpSnapshot>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lookup RefSNP object by RSID (asynchronously)
     * Retrieve data object associated with a RefSNP identifier for the current revision.  This is a beta-release of this service and the resulting schema is still under development.  User feedback is welcomed and appreciated.
     * @param rsid 64-bit RefSNP ID (integer) (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call betaRefsnpRsidGetAsync(String rsid, final ApiCallback<RefsnpSnapshot> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = betaRefsnpRsidGetValidateBeforeCall(rsid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RefsnpSnapshot>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
